body
{
    background-color: #6666ff;
}

.wrapper
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ2PWbTZ3jArSfVutpHvdu4441fBWJLYocuvg&usqp=CAU");
    background-size: cover;
    width: 30rem;
    height: auto;
}
#phraseArea
{
    display: flex;
    justify-content: center;
    align-items: center;
}
p
{
    color: #ffff55;
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
    font-family: "Staatliches";
    text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
h1
{
    color: #ffff55;
    text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-align: center;
    font-family: "Staatliches";
}
button
{
    background-color: #ffff00;
    color: #000000;
    font-size: 2rem;
    border: solid 0.5rem #000000;
    width: 15rem;
    height: 7rem;
    transition: 0.2s ease;
}

button:hover
{
    background-color: #ffff66;
    transform:scale(1.1);
}

button:active
{
    background-color: #aaaa00;
    transform:scale(0.95);
}

#phrase
{
    margin-top: 12rem;
}