body
{
    text-align: center;
    background-color: #004d11;
}

h1
{
    text-align: center;
    color: #8affa3;
    font-size: 45px;
}
@font-face {
    font-family: "Future";
    src: url("../fonts/futureforces.woff");
}
#useFont
{
    font-family: "Future";
    font-size: 0px;
}